<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-item">
                raffyalcoriza /&nbsp;<a href="{{ @site.url }}">#</a>
            </span>
        </div>
    </div>
</nav>

