<nav class="navbar {{#if post_has_featured_image}}post-has-featured-image{{/if}}">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-item">
                raffyalcoriza /&nbsp;<a href="{{ @site.url }}"><strong>{{ @site.title }}</strong></a>
            </span>
        </div>
    </div>
</nav>

