<nav class="navbar {{#is "home"}} is-spaced{{/is}}{{#if has_featured_image}} content-has-featured-image{{/if}}">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-item">
                <span class="has-text-weight-semibold">raffy</span><span class="has-text-weight-light">alcoriza</span>&nbsp;/&nbsp;<a href="{{ @site.url }}"><strong>{{ @site.title }}</strong></a>
            </span>
        </div>
    </div>
</nav>

