{{!< default}}

{{> navbar }}

<main class="posts-container container">
    {{#get "posts" limit="1" filter="featured:true" include="authors,tags" }}
        {{#foreach posts}}
            {{> post-item index_featured="true" }}
        {{/foreach}}
    {{/get}}

    {{#foreach posts}}
        {{> post-item }}
    {{/foreach}}
</main>

{{pagination}}