.kg-bookmark-card {
  position: relative;
  width: 100%;
}

.kg-bookmark-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $o-content-bookmark-card-radius;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  overflow: hidden;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.kg-bookmark-content {
  font-size: $o-content-bookmark-card-description-size;
  order: 1;
  padding: $o-content-bookmark-card-description-padding;
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: 0.5em;
}

.kg-bookmark-description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.kg-bookmark-metadata {
  align-items: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .kg-bookmark-icon {
    display: inline-block;
    height: 1em;
    margin-right: $size-7;
    width: 1em;
  }
}

.kg-bookmark-thumbnail {
  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
}

.kg-bookmark-author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
