/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/build/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";

/* TailwindCSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/global.css";

/* Ghost components */
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

.gh-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.gh-page {
  padding: 0 4vmin;
}

/* .gh-article {
    padding: 8vmin 0;
} */

.gh-postfeed {
  padding: 8vmin 0;
}

.gh-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gh-head-actions a {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.gh-head-actions a svg {
  height: 1.8rem;
  fill: currentcolor;
}

.gh-head-actions a:first-child svg {
  margin-left: 20px;
}

.gh-head-actions a:last-child svg {
  height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

.gh-card:not(:first-child) {
  margin: 8vmin auto 0;
}

.gh-card-link {
  display: flex;
  flex-direction: column;
}

.gh-card-image {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  margin-bottom: 4vmin;
}

.gh-card-meta {
  display: block;
  margin: 0 0 1rem;
  font-size: 1.4rem;
  line-height: 1.2em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.8;
}

.gh-card-content {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
}

.gh-card-content p {
  margin: 1.2rem 0;
  padding: 0 6vmin;
}

.gh-card-content > strong {
  display: inline-block;
  padding: 1px 0;
  font-weight: 500;
  box-shadow: 0 -1px 0 0 inset currentColor;
  opacity: 0.5;
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
  margin: 0 auto;
  padding: 8vmin 0 4vmin;
  text-align: center;
}

.gh-page-image {
  margin: 4vmin 0 0 0;
}

.gh-page-head > p {
  max-width: 720px;
  margin: 0.3em auto 0;
  padding: 0 6vmin;
  font-size: 1.3em;
  line-height: 1.4em;
  opacity: 0.5;
}

@media (max-width: 700px) {
  .gh-page-head > p {
    font-size: 1.6rem;
  }
}

/* Post
/* ---------------------------------------------------------- */

.gh-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold mb-2;
  }

  h1 {
    @apply text-3xl md:text-4xl;
  }

  h2 {
    @apply text-2xl md:text-3xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  h4 {
    @apply text-lg md:text-xl;
  }

  h5 {
    @apply text-base text-gray-300 tracking-wide md:text-lg;
  }

  h6 {
    @apply text-sm uppercase text-gray-400 tracking-wider md:text-base;
  }

  p {
    @apply mb-4;
  }

  :is(ul, ol) > li {
    list-style-type: initial;
  }

  blockquote {
    @apply border-l-2 border-blue-500 p-4 my-4 text-lg italic;
  }
}

/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
  height: 12vmin;
  width: 12vmin;
  margin: 0 auto 1.5em;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}

.gh-author-meta {
  margin: 2vmin 0 0 0;
  font-size: 1.2em;
}

.gh-author-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gh-author-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
  display: block;
  content: "";
  margin: 0 1.25vmin 0 0;
  height: 1em;
  width: 1px;
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(20deg);
}

@media (max-width: 700px) {
  .gh-author-meta {
    font-size: 1.6rem;
  }
}
