h1,
h2,
h3,
h4,
h5,
h6 {
  color: $o-header-color;
  font-weight: $weight-semibold;
  margin: $size-7 0;
}

h1 {
  font-size: $o-text-size-4;
}

h2 {
  font-size: $o-text-size-5;
}

h3 {
  font-size: $o-text-size-6;
}

h4 {
  font-size: $o-text-size-7;
}

h5 {
  font-size: $o-text-size-8;
}

h6 {
  font-size: $o-text-size-9;
}

ul,
ol {
  padding-left: $size-4;

  li {
    padding-left: $size-7;
  }
}

ul {
  list-style: unset;
}

p,
ul,
ol,
pre,
figure {
  margin-bottom: $size-4;
}

footer {
  font-size: $size-7;
  padding: $size-1 0;
}

a {
  border-style: dotted;
  border-width: 0 0 1px;

  &:hover {
    border-style: solid;
  }
}
