.navbar {
  &.content-has-featured-image {
    background: rgba($navbar-background-color, 0.5);
  }
}

.index-header {
  align-items: center;
  background: $o-index-header-background-color;
  color: $o-index-header-text-color;
  display: flex;
  height: 50vh;

  > .index-header-container {
    margin-top: $size-5;
    margin-bottom: $size-5;
    padding: $size-5;
  }

  @media screen and (min-width: $desktop) {
    > .index-header-container {
      padding: $size-5 0;
    }
  }
}

.paged,
.home-template,
.tag-template {

  .posts-container {
    padding: $size-3 0;

    .post {
      margin-bottom: 0;
      padding: $size-6;
  
      .post-title {
        margin-top: 0;
        margin-bottom: $size-7;
      }
  
      @media screen and (min-width: $desktop) {
        margin-left: 0;
        margin-right: 0;
      }

      &.post-index-featured {
        a {

          &:hover,
          &:focus {
            .post-item-details {
              background: rgba($black, 0.5);  
            }
          }
        }

        .post-item {
          border-radius: 8px;
          overflow: hidden;
          position: relative;

          .post-featured-image {
            > img {
              display: block;
            }
          }

          .post-item-details {
            background: rgba($black, 0.2);
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            height: 100%;
            padding: $size-6;
            position: absolute;
            top: 0;
            left: 0;
            text-shadow: 1px 1px 8px rgba(0,0,0, 0.2);
            transition: background-color 150ms linear;
            width: 100%;
            z-index: 10;
          }
          
          .post-item-title-date {
            flex-direction: column;
            justify-content: center;
            
            h2 {
              margin: 0;
            }
          }
        }

        @media screen and (min-width: $desktop) {
          .post-item {
            .post-item-details {
              grid-template-rows: repeat(3, 1fr);
              padding: $size-3;
            }

            .post-item-title-date h2 {
              font-size: $o-text-size-1;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .posts-container {
      .post {
        padding: $size-6 0;
      }
    }
  }
}

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  a {
    padding: $size-6;
    margin: $size-6;
  }

  .previous {
    grid-column: 1;
    text-align: left;
  }
  .reference {
    grid-column: 2;
    text-align: center;
  }
  .next {
    grid-column: 3;
    text-align: right;
  }
}

footer {
  text-align: center;

  @media screen and (min-width: $tablet) {
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }  
  }
}
