.home-template {
  .post {
    margin: $size-3 $size-6;

    .post-title {
      margin-bottom: $size-7;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}