.home-template {
  .posts-container {
    padding: $size-3 0;

    .post {
      margin-bottom: 0;
      padding: $size-3 $size-6;
  
      .post-title {
        margin-top: 0;
        margin-bottom: $size-7;
      }
  
      @media screen and (min-width: $desktop) {
        margin-left: 0;
        margin-right: 0;
      }
    }  
  }
}