.post {
  line-height: 1.75;
  margin-bottom: $size-1;

  .post-tag {
    letter-spacing: 0.25rem;
  }

  .post-metadata {
    border-bottom: lighten($o-base-color, 40%) 2px dashed;
    margin-bottom: $size-3;
    margin-top: $size-3;
    padding-bottom: $size-3;
  }

  .post-title {
    display: block;
    font-size: $o-post-title-size;
    margin-bottom: $size-7;
  }

  .post-publish-date {
    color: $o-post-time-color;
    display: block;
    font-size: $o-post-time-size;
    margin-bottom: $size-7;
  }
}

.post-template .post {
  &.has-featured-image {
    margin-top: -$navbar-height;

    .post-featured-image > img {
      height: 70vh;
      width: 100%;
      object-fit: cover;
    }
  }
}
